.order01{
	width: 1200px;
	margin-top: 15px;
	text-align: center;
}
.order02 ul li{
	float: left;
	margin-right: 7px;
}
.lbnav01{
	border: solid 1px #ccc;
    height: 50px;
    background-color: #E0DEDA;
}
.lbnav01 ul li{
	float: left;
}
.qcq_order01{
	margin: 10px 0 0 12px;
    height: 28px;
    line-height: 28px;
    border: solid 1px #999;
    border-left: 0 none;
}
.qcq_order01 li{
	float: left;
    border-left: solid 1px #999;
}
.qcq_order01 li a{
	float: left;
    color: #666;
    padding: 0 20px;
    cursor: pointer;
}
.qcq_order01a{
	background-color: #005BAC;
    color: #fff !important;
}
.qcq_order02{
	margin-right: -15px;
}
.qcq_order03{
	width: 290px;
    height: 380px;
    margin: 15px 13px 0 0;
    overflow: hidden;
    text-align: left;
}
.qcq_order03 a{
	display: block;
    border: solid 1px #A9A9A8;
    text-align: center;
}
.qcq_order04{
	width: 275px;
    padding: 0 5px 0 10px;
    line-height: 22px;
    margin-top: 5px;
    height: 46px;
    overflow: hidden;
    font-size: 14px;
    font-family: "宋体";
}
.qcq_order04a{
	font-size: 16px;
    font-family: "宋体";
    margin-top: 3px;
    padding-left: 10px;
}
.qcq_order04a span{
	color: #0066CC;
    font-weight: bold;
}
.qcq_order04b{
	text-decoration: line-through;
    font-size: 16px;
    margin-top: 5px;
    padding-left: 10px;
    font-family: "宋体";
}
